pkgbase = mozc-ut
	pkgdesc = The Open Source edition of Google Japanese Input bundled with the UT dictionary
	pkgver = 2.30.5448.102.20240426
	pkgrel = 1
	url = https://github.com/google/mozc
	arch = x86_64
	license = Apache-2.0 AND BSD-2-Clause AND BSD-3-Clause AND CC0-1.0 AND CC-BY-SA-3.0 AND CC-BY-SA-4.0 AND GPL-2.0-only AND GPL-2.0-or-later AND MIT AND NAIST-2003 AND Unicode-3.0 AND LicenseRef-Okinawa-Dictionary
	makedepends = bazel
	makedepends = git
	makedepends = python
	makedepends = rsync
	makedepends = ruby
	makedepends = wget
	depends = qt6-base
	optdepends = fcitx5-mozc-ut: Fcitx5 integration
	optdepends = ibus-mozc: IBus integration
	optdepends = emacs-mozc: Emacs integration
	provides = mozc=2.30.5448.102
	conflicts = mozc
	noextract = jawiki-20240420-all-titles-in-ns0.gz
	options = !distcc
	options = !ccache
	source = mozc-ut-git::git+https://github.com/google/mozc.git#commit=c50bd32a0931d558797d71cfc11091ee17c55ac1
	source = git+https://github.com/utuhiro78/merge-ut-dictionaries.git#commit=7d8a3f9df79e4bf38ab973a64dbc2cd562f2306e
	source = git+https://github.com/utuhiro78/mozcdic-ut-alt-cannadic.git#commit=4e548e6356b874c76e8db438bf4d8a0b452f2435
	source = git+https://github.com/utuhiro78/mozcdic-ut-edict2.git#commit=4a08ebf0397c65991b5f6d7f4dd2cbc583a12c83
	source = git+https://github.com/utuhiro78/mozcdic-ut-jawiki.git#commit=42297bc4e14cf1e2f244df996a5bbd1782e3a189
	source = git+https://github.com/utuhiro78/mozcdic-ut-neologd.git#commit=b0de4b90d7ddc3b837b40dc6974d6467daedc491
	source = git+https://github.com/utuhiro78/mozcdic-ut-personal-names.git#commit=adaaaf903f9609a52cafc63aea7a58fc6e00cc64
	source = git+https://github.com/utuhiro78/mozcdic-ut-place-names.git#commit=2dfabeab535c90308e0d25bdd9b95de90cfc904e
	source = git+https://github.com/utuhiro78/mozcdic-ut-skk-jisyo.git#commit=5a996bfd369ee44ec681f86bb7880904e9171cdd
	source = git+https://github.com/utuhiro78/mozcdic-ut-sudachidict.git#commit=c109f062a6c80e52be4b96adbf4123404b2048d1
	source = https://dumps.wikimedia.org/jawiki/20240420/jawiki-20240420-all-titles-in-ns0.gz
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 6e9d3553b776e26b1ba5ba7f51bbeeeb1b0540e335f9bd08b2e01d805d28a5b7

pkgname = mozc-ut
